@import "colors.scss";

#category-pagination{
	 width: 100%;
  	display: flex;
  	justify-content: center;
}
.pagination{
		li a{
			color: color($colors, primary);
			&:hover{
				color: color($colors, secondary);
			}
		}
}

.card a:before{
	display: none;
}

.line{
	div{
	left: 6% !important;
	}

}

.search-line{
	div{
		left: 10% !important;
	}
}

.sidebar-element{
	box-shadow: 0px 1px 2px 0px rgb(0,0,0,0.4) !important;
}

/** ///////// CONTACT PAGE ////////// **/
section.contact{
	.description{
		text-align: center;
		text-transform: uppercase;
	}
	.form-row div{
		position: relative;
	}
	.form-group{
		max-width: 400px;
		margin: 10px auto 50px auto;

		input{
			margin-bottom: 10px;
			width: 100%;
			&:focus{
				outline: none;
			}

		}
		.namebefore{
			position: absolute;
		    top: 0;
		    right: 5px;
		    padding: 7px 15px;
			background-color: color($colors, secondary);
			i{
				color: #fffff0;
				font-size: 14px;
				width: 14px;
			}

		}
		.form-control:focus {
			  -webkit-box-shadow: none;
			  box-shadow: none;
			}
	}
}

/** ///////// LOGİN PAGE, FORGOT PAGE, REGİSTER PAGE ////////// **/
section.login, section.forgot, section.register{
	.login-form{
		max-width: 300px;
		margin: auto;
		form{
		padding: 50px 20px;
		box-shadow: 1px 1px 3px 1px #ddd;
		}
		span{
			position: absolute;
		    top: 0;
		    right: 5px;
		    padding: 7px 15px;
			background-color: color($colors, secondary);
			i{
				color: #fffff0;
				font-size: 14px;
				width: 14px;
			}
		}
		.form-control:focus{
			box-shadow: none;
		}
	}
}


/** ///////// PAGES ////////// **/
section.page{
	margin-bottom:100px;
	.page-title{
		width: 80%;
		margin: 50px auto;
		text-align:center;
	}
}



/** ///////// 404 PAGE ////////// **/
section.notfound, .internal-server{
	.kapsayici{
		display: flex;
		justify-content: center !important;
		div{
			font-size: 200px;
			color: color($colors, secondary);
		}
		.zero, .zero-2{
			color: color($colors, primary);
			position: relative;
			top: 67px;
    		font-size: 115px;
		}
		.zero-2{
			font-size: 152px;
			position: relative;
			top: 38px;
		}
	}
	.message{
		text-align: center;
		text-transform: capitalize;
		font-size: 17px;
		color: color($colors, darken);
		h1{
			font-weight:bold;
			margin-top: -30px;
			margin-bottom: 40px;
			text-transform: uppercase;
		}
		p{
			position: relative;
			top: -30px;
		}

	}
	.form-wrapper{
		margin: -20px auto 50px auto;
		max-width: 500px;
		background: #fff;
	}
	.home-link{
		position: relative;
		top: -50px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		a{
			color: color($colors, dark);
			&:after{
				content: "\f258";
				font-family: "Font Awesome 5 Free";
				margin-left: 5px;
			}
		}
	}
}