@import "colors.scss";

@font-face { font-family: "Ionicons"; src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1"); src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal; }



$general-transition: all .5s;

$nav_height: 55px;
$dropdown_menu_width: 230px;
$mobile_nav_width: 320px;
$sidebar: 250px;

.page{

	/* /////// HEADER /////// */
	#header{
		/* /////// TOP  MENU /////// */
		.menu {
		  width: 100%;
		  display: flex;
		  align-items: center;
		  justify-content: center;

		  .menu-item {
		  	position: relative;
		  	cursor: pointer;

		  	.wee {
			  height: 2px;
			  width: 100%;
			  background-color: color($colors, primary);
			  position: absolute;
			  left: 0;
			  bottom: 0;
			  transition: 0.75s;
			}

			h6 a{
			  margin: 0;
			  padding: 0 1rem 1.5rem;
			  font-size: 1rem;
			  color: #232323;
			  transition: 0.75s;
			  text-transform: capitalize;
			  }
			}
		}


		.menu .menu-item:hover h6 a{
		  color: color($colors, primary);
		}

		.menu .current-menu-item h6 a{
		  color: color($colors, secondary);
		}
		.me {
		  position: absolute;
		  bottom: 5rem;
		  left: 50%;
		  transform: translateX(-50%);
		}
		.me a {
		  display: inline-block;
		  padding: 0.25rem;
		  margin: 0 0.25rem;
		  color: #232323;
		  font-size: 1.5rem;
		  transition: 0.75s;
		}
		.me a:hover {
		  color: #002b75;
		}
		/* /////// MAİN MENU /////// */
		.scale-menu{
			height: 50px;
			background-color: color($colors, primary);
			a{
				display: block;

			}
			&>ul{
				display: flex;
				&>li{
					&:first-child{
						background-color: color($colors, secondary);
					}

					line-height: 50px;
					a{
						color: white;
						display: block;
						font-size: 15px;
						padding: 0 15px;
					}
					&:hover{
						background-color: color($colors, secondary);
					}
				}
				li{
					position: relative;
				}
				ul{
					width: 250px;
					position: absolute;
					top: 50px;
					left: 0;
					z-index: 99999999;
					background-color: color($colors, secondary);
					opacity: 0;
					visibility: hidden;
					transform: scale(0);
					transition: 300ms all;
					li{
						position: relative;
						&:hover{
							background-color: color($colors, primary);
						}
						a{
							padding: 0 20px;
						}
					}
				}
				&>li:hover > ul{
					visibility: visible;
					opacity: 1;
					transform: scale(1);
				}
			}
			ul ul  ul{
				position: absolute;
				left: 250px;
				top: 0px;
			}
			ul ul > li:hover > ul{
				visibility: visible;
				opacity: 1;
				transform: scale(1);
			}
		}
		.main-nav, .navbar{
			background-color: color($colors, primary);
			a{
				text-transform: capitalize;
			}
		}
		.nav-link{
    		color: #fff;

		}

		/*.dropdown-toggle::after{
			border:none;
			font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0da";
			position: absolute;
			transform: rotate(90deg);
		}*/
	}
		/* /////// LOGO İMAGE /////// */
		.logo, .f-logo{
			img{
				max-width: 250px;
   				max-height: 250px;
			}
		}

     /* /////// MAİN SECTİON /////// */
     #main{
	     	.line div {
			  font-weight: 800;
			  font-family: 'Raleway';
			  color: #000;
			  margin: 10px 0;
			}

			.line {
			  display: inline-block;
			  width: 100%;
			  height: 4px;
			  background-color: #f2f2f2;
			  margin: 30px 0;
			  position: relative;
			  &.thin {
			    height: 2px;
			  }
			  &.transparent {
			    background-color: transparent;
			  }
			  &.little {
			    margin: 10px 0;
			  }
			  &.top {
			    margin-top: 50px;
			  }
			  div {
			    margin: 0;
			    text-align: center;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    -webkit-transform: translate(-50%, -50%);
			    -moz-transform: translate(-50%, -50%);
			    -o-transform: translate(-50%, -50%);
			    font-size: 16px;
			    background-color: #fff;
			    text-transform: uppercase;
			    padding-left: 20px;
			    padding-right: 20px;
			    color: #000;
			  }
			}
			 /* /////// CAROUSEL /////// */
			.carousel-caption {
			  bottom: 3rem;
			  z-index: 10;
			  p, h4 a{
			  	padding: 5px;
			  	font-weight: bolder;
			  	display: inline-block;
			  	background-color: #eee;
			  	margin: 10px 0;
			  	border-radius: 5px;
			  	color:color($colors, darken);
			  }
			  h4 a{
			  	padding: 3px;
			  }
			}

			/* Declare heights because of positioning of img element */
			.carousel-item {
			  height: 32rem;
			  .badge{
			  	font-size:15px;
			  	padding: 5px;
			  	text-transform: capitalize;
			  }
			}
			.carousel-item > img {
			  position: absolute;
			  top: 0;
			  left: 0;
			  min-width: 100%;
			  height: 32rem;
			}


			.carousel-inner{
				h4{
					font-weight: bolder;
				}
			}
			 /* ///////  NEWS GROUPS /////// */
			 .news-group-1,  .news-group-2, .news-group-3{
				.badge{
					background-color: color($colors, primary);
					padding: 5px 10px !important;
					font-size: 14px;
				}
				h5.card-title{
					text-transform: capitalize;
					a{
						color: black;
						&:hover{
							color:color($colors, secondary);
							transition: 300ms;
						}
					}
				}
				.card{
					
					.card-text{
						padding: 20px 0;
					}
					.Card-image{
						overflow: hidden;
					}
					img{
						height: 249px;     
						border: none;
					    -webkit-transition: -webkit-transform 0.2s ease-in-out;
					    -moz-transition: -moz-transform 0.2s ease-in-out;
					    -ms-transition: -ms-transform 0.2s ease-in-out;
					    -o-transition: -o-transform 0.2s ease-in-out;
					    transition: transform 0.3s ease-in-out;

						&:hover{
							     -webkit-transform: scale(1.2);
							    -moz-transform: scale(1.2);
							    -o-transform: scale(1.2);
							    -ms-transform: scale(1.2);
							    transform: scale(1.2);

						}
					}
				}
			}
			/* /////// TRENDİNG TAGS AND CATEGORİES SECTİON /////// */
			.trending-section{
				.cat li, .tags li{

					a{
						color: black;
						font-size: 14px;
						text-transform: uppercase;
						&:before{
						 content: url('../icons/hashtag-solid.svg');
						 margin-right: 5px;
						}
						&:hover{
							//border-bottom: 1px solid color($colors, primary);
							color: color($colors, primary);
						}

						&:after{
							content: "";
							width: 0%;
							display: block;
							height: 2px;
							background-color: color($colors, primary);

						}
					}

					a:hover{
						&:after{
							width: 20%;
							transition: 0.5s;
						}
					}
				}
				li.space a:before{
					content: url('../icons/hashtag-solid.svg');
				}
				li.news a:before{
					content: url('../icons/newspaper.svg');
				}
				li.sport a:before{
					content: url('../icons/spor.svg');
				}
				li.twitter a:before{
					content: url('../icons/twitter.svg');
				}
				li.youtube a:before{
					content: url('../icons/youtube.svg');
				}
				li.music a:before{
					content: url('../icons/music.svg');
				}
				li.science a:before{
					content: url('../icons/science.svg');
				}
				li.space a:before{
					content: url('../icons/space-shuttle-solid.svg');
				}
				li.car a:before{
					content: url('../icons/car.svg');
				}
				li.tech a:before{
					content: url('../icons/tech.svg');
				}
				li.world a:before{
					content: url('../icons/world.svg');
				}

				.tags li a:before{
					content: "#";
					margin: 0;
				}
			}
			.most-popular{
				.card{
					border:none !important;
				}
			
			}
			.post-wiev{
				margin-left: 5px;
				a{
					color: color($colors, dark);
					opacity: 0.7;
				}
			}
			
			/*.category{
				text-transform: capitalize;
			}*/

			.time{
				color: color($colors, dark);
				margin-left: 10px;
				opacity: 0.7;
			}
  	    }
  	    /* /////// SİNGLE PAGE /////// */
  	    .single{
  	    	font-family: 'Raleway', sans-serif;
  	    }
     .post{
     	padding: 50px 50px;
     	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     	.title{
     		text-transform: uppercase;
     		font-family: 'Josefin Sans', sans-serif;
     		position: relative;
     		.title-border{
     			width: 40px;
     			height: 4px;
     			background-color: color($colors, primary);
     			margin-bottom: 10px;
     		}

     	}
     	p{
     		font-size: 17px;
     		line-height: 30px;
     		color: #000;
     	}
     	.post-p{
     		a{
     			color:color($colors, secondary);
     			font-weight: bolder;
     		}
     	}
     	.post-details{
     		padding: 20px 0; 
     		opacity: 0.7;
     		color: color($colors, dark);
     		a{
     			color: color($colors, dark);
     		}

     	}
     	img{
     		width: 100%;
     		height: auto;
     		padding: 10px 0;
     	}
     }
     .post-nav{
     	width: 100%;
     	height: auto;
     	margin-top: 30px;
     	margin-bottom: 30px;
     	padding: 15px 20px;
     	border-radius: 20px;
     	text-transform: uppercase;
     	background-color: #c4d0c40d;
     	transition: 500ms;
     	a{
     		color: color($colors, dark);
     		&:hover{
     			color: color($colors, darken);
     		}
     	}
     	.post-nav-icon{
     		margin: 0 5px;
     	}
     	div{
     		margin-top: 10px;
     		text-transform: capitalize;
     	}
     	.prev-post{
     		text-align: left;
     	}
     	.next-post{
     		text-align: right;
     	}
     }
     .title-border{
     			width: 40px;
     			height: 4px;
     			background-color: color($colors, primary);
     			margin-bottom: 10px;
     		}
      /* /////// SİDEBAR /////// */
     .sidebar{
     	 		font-family: 'Raleway', sans-serif;
     	 	}
     .sidebar-element{
     	 box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
     	 margin-bottom: 50px;
     	 padding: 40px 0;
     	 font-size: 15px;
     	 .element-title{
     	 	text-transform: uppercase;
     	 	h4{
     	 		color: #393e46;
     	 		padding: 0 16px 16px 16px;
    			text-align: center;
   				 box-shadow: 1px 3px rgb(0,0,0,.1);
     	 	}

     	 }
     	 h4.side-search{
     	 	box-shadow: none;
     	 }

     	 .element-item{
     	 	ul{
     	 		margin-top: 20px;
     	 	}
     	 	li{
     	 		 
     	 		height: 42px;
     	 		padding: 0 5px;
     	 		z-index: 1;
     	 		position: relative;
     	 		z-index: 999;
     	 		.kayan{
     	 			position: absolute;
     	 			top: 0;
     	 			left: 0;
     	 			width: 1%;
     	 			height: 100%;
     	 			visibility: hidden;
     	 			opacity: 0;
     	 			z-index: -999;

     	 		}

     	 		&:hover{
     	 			transition: 0.5s;
     	 			a{
     	 				color: #fff;
     	 			}
     	 			.kayan{
     	 				visibility: visible;
     	 				opacity: 1;
     	 				left: 0;
     	 				transition: 0.5s;
     	 				width: 100%;
     	 			}
     	 		}
     	 		a{
     	 			color: black;
     	 			text-transform: capitalize;
     	 			display: block;
     	 			line-height:42px;
     	 			i{
     	 				margin-right:10px;
     	 			}
     	 		}
     	 		.purple{
     	 			background-color: color($colors, primary);
     	 		}
     	 		.green{
     	 			background-color: #1dd1a1;
     	 		}
     	 		.red{
     	 			background-color: #ee5253;
     	 		}
     	 		.blue{
     	 			background-color: #0abde3;
     	 		}
     	 		.orange{
     	 			background-color: orange;
     	 		}
     	 		.black{
     	 			background-color: #222f3e;
     	 		}
     	 		.grey{
     	 			background-color: #8395a7;
     	 		}
     	 		.yellow{
     	 			background-color: #feca57;
     	 		}

     	 	}
     	 	.purple{
     	 		border-left: 3px solid color($colors, primary);
     	 	}
     	 	.green{
     	 		border-left: 3px solid #1dd1a1;
     	 	}
     	 	.red{
     	 		border-left: 3px solid #ee5253;

     	 	}
     	 	.blue{
     	 		border-left: 3px solid #0abde3;

     	 	}
     	 	.orange{
     	 		border-left: 3px solid orange;

     	 	}
     	 	.black{
     	 		border-left: 3px solid #222f3e;

     	 	}
     	 	.grey{
     	 		border-left: 3px solid #8395a7;

     	 	}
     	 	.yellow{
     	 		border-left: 3px solid #feca57;

     	 	}
     	 	.pink{
     	 		border-left: 3px solid #f368e0;

     	 	}
     	 }
     }


     /* /////// SİDEBAR SEARCH /////// */
    .cf:before, .cf:after{
      content:"";
      display:table;
    }

    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }


    .form-wrapper {
        padding: 15px;
        background: #444;
        background: rgba(0,0,0,.1);
        margin-top: -5px;
	        input {
	    	width: 80%;
	    	height: 40px;
	        padding: 10px 5px;
	        float: left;    
	        border: 0;
	        background: #eee;
	        -moz-border-radius: 3px 0 0 3px;
	        -webkit-border-radius: 3px 0 0 3px;
	        border-radius: 3px 0 0 3px;   
	        &:focus {
		        outline: 0;
		        background: #fff;
		        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
		        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
		        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
		    }   

		    &::-webkit-input-placeholder {
		       color: #999;
		       font-weight: normal;
		       font-style: italic;
		    }

		    &:-moz-placeholder {
		        color: #999;
		        font-weight: normal;
		        font-style: italic;
		    }

		    &:-ms-input-placeholder {
		        color: #999;
		        font-weight: normal;
		        font-style: italic;
		    }
	    }

	    button {
	        overflow: visible;
	        position: relative;
	        border: 0;
	        padding: 0;
	        cursor: pointer;
	        height: 40px;
	        width: 20%;
	        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	        color: #fff;
	        text-transform: uppercase;
	        background: color($colors, primary);
	        -moz-border-radius: 0 3px 3px 0;
	        -webkit-border-radius: 0 3px 3px 0;
	        border-radius: 0 3px 3px 0;      
	        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	        &:hover{     
		        background: color($colors, secondary);
		    } 

		    &:active, &:focus{
		    	 background: color($colors, secondary);
		    }

		    &:before {
		        content: '';
		        position: absolute;
		        border-width: 8px 8px 8px 0;
		        border-style: solid solid solid none;
		        border-color: transparent color($colors, primary) transparent;
		        top: 12px;
		        left: -6px;
		    }

		    &:hover:before{
		        border-right-color: color($colors, secondary);
		    }

		    &:focus:before{
		        border-right-color: color($colors, secondary);
		    } 

		    &::-moz-focus-inner {
		        border: 0;
		        padding: 0;
		    }
	    } 
   }
     /* /////// FOOTER /////// */
     #footer{
     	background-color: #393e46;
     	font-family: 'Raleway', sans-serif;
     	position: relative;
     	p{
     		color: #fff;
     		text-transform: uppercase;
     	}
     	.footer-column{
     		color:#fff;
     		padding: 25px 10px;
     		.column-title{
     			text-transform: capitalize;
     		}
     	}
     	.f-card-title{
     		font-size: 15px;
     		text-transform: capitalize;
     	}

     	.f-social{
     			display: inline-block;
     			width: 40px !important;
     			height: 40px !important;
     			margin-bottom: 5px;
     			position: relative;
     			&:hover{
     				i{
     					padding: 7px 10px;
     					transition: 0.2s;
     				}
     			}
     			a{
     				color: #fff;
     			}
     			.fab{
     				padding: 10px;
     				position: absolute;
     			}
     	}

     		.facebook{
     			background-color: color($colors, facebook);


     		}
     		.twitter{
     			background-color: color($colors, twitter);

     		}
     		.instagram{
     			background-color: color($colors, instagram);

     		}
     		.linkedin{
     			background-color: color($colors, linkedin);

     		}
     		.youtube{
     			background-color: color($colors, youtube);

     		}
     		.vimeo{
     			background-color: color($colors, vimeo);

     		}
     		.tumblr{
     			background-color: color($colors, tumblr);

     		}
     		.reddit{
     			background-color: color($colors, reddit);

     		}
     		.skype{
     			background-color: color($colors, skype);

     		}
     		.whatsapp{
     			background-color: color($colors, whatsapp);

     		}
     		.github{
     			background-color: color($colors, github);

     		}

     			.newsletter{

     				.group 			  { 
						  position:relative; 
						  margin-bottom:10px; 
						}
						input 				{
						  font-size:15px;
						  padding:10px 10px 10px 5px;
						  display:block;
						  width:100%;
						  border:none;
						  border-bottom:1px solid #757575;
						}
						input:focus {
						 outline:none;

						  }

						label 				 {
						  color:#999; 
						  font-size:15px;
						  font-weight:normal;
						  position:absolute;
						  pointer-events:none;
						  left:5px;
						  top:10px;
						  transition:0.2s ease all; 
						  -moz-transition:0.2s ease all; 
						  -webkit-transition:0.2s ease all;
						}

						/* active state */
						input:focus ~ label, input:valid ~ label 		{
						  top:-10px;
						  font-size:14px;
						  color:#fff;
						  padding: 0 10px;
						  background-color: color($colors, primary);
						  border-radius: 20px;
						}

						/* BOTTOM BARS ================================= */
						.bar 	{ 
							position:relative;
							 display:block;
							  width:100%;

						   }
						.bar:before, .bar:after 	{
						  content:'';
						  height:2px; 
						  width:0;
						  bottom:1px; 
						  position:absolute;
						  background-color: color($colors, secondary);
						  transition:0.2s ease all; 
						  -moz-transition:0.2s ease all; 
						  -webkit-transition:0.2s ease all;
						}
						.bar:before {
						  left:50%;
						}
						.bar:after {
						  right:50%; 
						}

						/* active state */
						input:focus ~ .bar:before, input:focus ~ .bar:after {
						  width:50%;
						}

						/* HIGHLIGHTER ================================== */
						.highlight {
						  position:absolute;
						  height:60%; 
						  width:100px; 
						  top:25%; 
						  left:0;
						  pointer-events:none;
						  opacity:0.5;
						}

						/* active state */
						input:focus ~ .highlight {
						  -webkit-animation:inputHighlighter 0.3s ease;
						  -moz-animation:inputHighlighter 0.3s ease;
						  animation:inputHighlighter 0.3s ease;
						}

						/* ANIMATIONS ================ */
						@-webkit-keyframes inputHighlighter {
							from { background:#5264AE; }
						  to 	{ width:0; background:transparent; }
						}
						@-moz-keyframes inputHighlighter {
							from { background:#5264AE; }
						  to 	{ width:0; background:transparent; }
						}
						@keyframes inputHighlighter {
							from { background:#5264AE; }
						  to 	{ width:0; background:transparent; }
						}
						     			}
     		
     }
     	/* /////// BEST OF THE WEEK SECTİON /////// */
     .bestoftheweek{
     	.details{
     		padding: 5px 0;
     		margin: 5px 0;
     		span{
     			margin-right: 5px;
     		}
     	}
     	img{
     		height: 180px;
     	}
     	.card-title{
     		a{
     			color: color($colors, dark);
     		}
     	}
     }

		/* ////// STİCKY MENU ////// */
		.fixed-top {
			top: -48px;
			left: 0;
			z-index: 9999999;
			width: 100%;
		}

    }


