
@{
                /**/

                ViewBag.Title = "ERR404";
                Layout = "~/Views/Shared/_SiteMain.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Materials/css/pages.css">
<section id="main" class="notfound">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">

                <div class="kapsayici">
                    <div>
                        <p>4</p>
                    </div>
                    <div class="zero">
                        <p>0</p>
                    </div>
                    <div>
                        <p>4</p>
                    </div>
                </div>
                <div class="message">
                    <h1 class="text-uppercase">sayfa bulunamadı</h1>
                </div>
                <div class="message">
                    <p>oops! bişey bulamadık, lütfen aramanızı kontrol edin ve tekrar deneyin</p>
                </div>
                @Html.Action("SearchForm", "Posts")
                <div class="home-link">
                    <a href="index.html" style="margin-top: -20px;">ana sayfa</a>
                </div>
            </div>
        </div>
    </div>
</section>