@charset "UTF-8";
#category-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination li a {
  color: #00d2d3;
}
.pagination li a:hover {
  color: #01a3a4;
}

.card a:before {
  display: none;
}

.line div {
  left: 6% !important;
}

.search-line div {
  left: 10% !important;
}

.sidebar-element {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4) !important;
}

/** ///////// CONTACT PAGE ////////// **/
section.contact .description {
  text-align: center;
  text-transform: uppercase;
}
section.contact .form-row div {
  position: relative;
}
section.contact .form-group {
  max-width: 400px;
  margin: 10px auto 50px auto;
}
section.contact .form-group input {
  margin-bottom: 10px;
  width: 100%;
}
section.contact .form-group input:focus {
  outline: none;
}
section.contact .form-group .namebefore {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 7px 15px;
  background-color: #01a3a4;
}
section.contact .form-group .namebefore i {
  color: #fffff0;
  font-size: 14px;
  width: 14px;
}
section.contact .form-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/** ///////// LOGİN, FORGOT PASSWORD, REGİSTER PAGE ////////// **/
section.login .login-form, section.forgot .login-form, section.register .login-form {
  max-width: 300px;
  margin: auto;
}
section.login .login-form form, section.forgot .login-form form, section.register .login-form form {
  padding: 50px 20px;
  box-shadow: 1px 1px 3px 1px #ddd;
}
section.login .login-form span, section.forgot .login-form span, section.register .login-form span {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 7px 15px;
  background-color: #01a3a4;
}
section.login .login-form span i, section.forgot .login-form span i, section.register .login-form span i {
  color: #fffff0;
  font-size: 14px;
  width: 14px;
}
section.login .login-form .form-control:focus, section.forgot .login-form .form-control:focus, section.register .login-form .form-control:focus {
  box-shadow: none;
}

/** /////////  PAGES ////////// **/
section.page {
  margin-bottom: 100px;
}
section.page .page-title {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

/** ///////// 404 PAGE ////////// **/
section.notfound .kapsayici {
  display: flex;
  justify-content: center !important;
}
section.notfound .kapsayici div {
  font-size: 200px;
  color: #01a3a4;
}
section.notfound .kapsayici .zero {
  color: #00d2d3;
  margin: 66px 1px 20px 5px;
  font-size: 115px;
}
section.notfound .message {
  text-align: center;
  text-transform: capitalize;
  font-size: 17px;
  color: #393e46;
}
section.notfound .form-wrapper {
  margin: -20px auto 50px auto;
  max-width: 500px;
  background: #fff;
}
