* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

.btn-primary, .badge-primary {
  background-color: #00d2d3 !important;
  color: #fff;
  border: #3498db !important;
}
.btn-primary:hover, .badge-primary:hover {
  background-color: #01a3a4 !important;
}

.btn-secondary, .badge-secondary {
  background-color: #01a3a4 !important;
}
.btn-secondary:hover, .badge-secondary:hover {
  background-color: #00d2d3 !important;
}

.btn-success, .badge-success {
  background-color: #1ABC9C !important;
}
.btn-success:hover, .badge-success:hover {
  background-color: #1ABC9C !important;
}

.title-border {
  width: 40px;
  height: 4px;
  background-color: #00d2d3;
}

a:hover {
  text-decoration: none;
}

.card .category a, .card .post-wiev a, .card .time a {
  color: #191E21 !important;
  opacity: 0.8;
}

.stickylogo {
  float: left;
  display: none;
}
.stickylogo img {
  max-width: 250px;
  height: 70px;
  background-color: #fff;
}

.pagenav {
  background-color: #c4d0c40d;
}
.pagenav ul, .pagenav ol {
  display: flex;
  justify-content: center;
}
.pagenav ul li, .pagenav ol li {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  text-transform: capitalize;
}
.pagenav ul li a, .pagenav ol li a {
  color: #393e46;
}
.pagenav ul li:last-child, .pagenav ol li:last-child {
  opacity: 0.7;
}
.pagenav ul li:after, .pagenav ol li:after {
  content: url("../icons/breadcrumb.svg");
  width: 20px;
  height: 20px;
  padding-left: 5px;
}
.pagenav ul li:last-child:after, .pagenav ol li:last-child:after {
  display: none;
}

section.search .pagenav ul, section.search .pagenav ol, section.category .pagenav ul, section.category .pagenav ol, section.single .pagenav ul, section.single .pagenav ol {
  display: flex;
  justify-content: left !important;
}

#button {
  display: block;
  background-color: #00d2d3;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button i {
  line-height: 50px;
  font-size: 30px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #01a3a4;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
