@model IEnumerable<Bootry.Models.Category>

<div class="navbar-nav">
    @foreach (var link in Model)
    {
        <a class="nav-link" href="/kategori/@link.Name.Replace(" ","-").ToLower()-@link.ID">@link.Name</a>
    }
</div>